[submodule "dependency/asio"]
	path = dependency/asio
	url = git@github.com:Corvusoft/asio-dependency.git
	branch = master
[submodule "dependency/catch"]
	path = dependency/catch
	url = git@github.com:Corvusoft/catch-dependency.git
	branch = master
[submodule "dependency/openssl"]
	path = dependency/openssl
	url = git@github.com:Corvusoft/openssl-dependency.git
	branch = OpenSSL_1_0_2-stable
